.dropdown {
  display: inline-block;
}
.dropdownButton {
  border: none;
  outline: none;
  background-color: var(--primary);
}
.dropdownItem {
  position: absolute;
  border-color: var(--secondary-text);
  border-style: solid;
  border-width:1px;
  border-radius: 3px;
  padding: 5px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in;
}