.toggleButton {
  margin-left: 10px;
  background-color: var(--secondary);
  border-radius: 3px;
  font-size: 12px;
  color: var(--primary-text);
  outline: none;
    border: none;
}
.closeButton {
  margin-left: 10px;
  background-color: var(--exit-background);
  border-radius: 3px;
  font-size: 12px;
  color: var(--exit-text);
  outline: none;
    border: none;
}
.container {
    width: 100%;
}
.demo {
  display: inline-block;
  border-radius: 5px;
  background-color: var(--primary);
  margin: 5px;
}

.demoLabel{
  padding: 10px;
  color: var(--primary-text);
}
.demoItem{
  padding: 10px;
  background-color: var(--secondary);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in;
}
