.toggleButton {
  margin-left: 10px;
  background-color: #0277BD;
  border-radius: 3px;
  font-size: 12px;
  color: #B3E5FC;
}
.closeButton {
  margin-left: 10px;
  background-color: #ef9a9a;
  border-radius: 3px;
  font-size: 12px;
  color: #ffebee;
}
.dropdownItem {
  position: absolute;
  background-color: white;
  border-color: gray;
  border-style: solid;
  border-width:1px;
  border-radius: 3px;
  padding: 5px;
}
.demo {
  position: absolute;
  display: inline-block;
  border-radius: 5px;
  background-color: #01579B;
  margin: 5px;
}
.demoLabel{
  padding: 10px;
  color: #B3E5FC;
}
.demoItem{
  padding: 10px;
  background-color: #0277BD;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in;
}
