
a {
  text-decoration: none;
  color: var(--primary-text);

}
.navBar {
  min-width: 0;
  text-align: center;
  background-color: var(--primary);
  color: var(--primary-text);
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  border-radius: 5px;
}
.navBarLeft {
  flex-grow: 1;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navBarRight {
  flex-grow: 1;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navBarCenter {
  min-width: 0;
  text-align: center;
  background-color: var(--primary);
  color: var(--primary-text);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.headerLink {
    display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px 4px;
  margin: 10px;
  text-decoration: none;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: var(--primary-text);
  opacity: 0.8;
  width: 100px;
  height: 30px;
}

.headerLink:active {
    background: black;
}

.dropdownContainer {
  text-align: start;
  margin-right: 40px;
  opacity: 0.8;
}

