.projectName {
  font-size:25px;
  color: var(--primary-text);
}
.projectDescription {
  font-size:16px;
  color: var(--primary-text);
}
.githubLink a {
  color: var(--primary-text);
  background-color: var(--secondary);
  border: 1px solid var(--component-background);
  padding: 8px 16px;
}
.video {
  height: 250px;
  width: 400px;
  padding: 8px;
}

.showCaseListItem {
  display: flex;
  border-radius: 5px;
  background-color: var(--primary);
  height: 100px;
  width: 200px;
  justify-content:center;
  align-items:center;
}
.showCaseListContainer > *:not(:last-child) {
  margin-bottom: 16px; 
  margin-top: 16px; 
}
.showCaseListContainer > * {
  margin-left: 16px;
}
.showCaseListContainer {
  height: 500px;
  width: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.showCaseListContainer::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.showCaseListContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.showCaseListContainer::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
.showCaseListContainer::-webkit-scrollbar-thumb:hover {
  background: var(--active);
}

.showCaseContainer {
    display: grid;
    grid-template-columns:  250px 100px 500px;
    padding: 50px;

}

.showCaseDisplay {
    grid-column-start: 3;
  display: flex;
  border-radius: 5px;
  background-color: var(--primary);
  height: 500px;
  width: 500px;
  justify-content:center;
  align-items:center;
}

.selected {
  background-color: var(--active);
}