body {
  --active: #035388;
  --background: #52606D;
  --component-background: #1F2933;
  --exit-background: #780A0A;
  --exit-text: #ffebee;
  --primary-text: #CBD2D9;
  --primary: #52606D;
  --link-text: #1992D4;
  --secondary: #003E6B;
  --warning-text: #AB091E;
}

/* body {
  --active: #2CB1BC;
  --background: #BCCCDC;
  --component-background: #D9E2EC;
  --exit-background: #F29B9B;
  --exit-text: #ffebee;
  --primary-text: #102A43;
  --primary: #62B0E8;
  --link-text: #0F609B;
  --secondary: #38BEC9;
  --warning-text: red;
} */
